<div class="container">
    <h1>Lista de compras</h1>

    <form class="add-item-form">
        <input type="text" id="item" placeholder="Digite o nome do item">
        <button type="submit">Adicionar</button>
    </form>

    <table>
        <thead>
            <th>#</th>
            <th>Item</th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Arroz</td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Maça</td>
                <td><input type="checkbox"></td>
            </tr>
        </tbody>
    </table>
</div>
